html,body {
    height: 100%;
    margin: 0;
}

a {
    color: initial;
    text-decoration: initial;
}    

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*---------------------------------------------*/

.d-none {
    display: none;
}

/*---------------------------------------------*/

.float-content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height: inherit;
    opacity: 0.7;    
}

#root {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 205px 755px 1fr;
    grid-template-rows: 70px 171px 1fr 100px;
    grid-template-areas: 
    "header header header header"
    "visual visual visual visual"
    "body body body body"
    "footer footer footer footer";
}    

#header {
    background-color: white;
    grid-area: header;
}    

#visual {
    border-top: 3px solid #8CBA34;
    background: #313131 url("../images/bg-visual.png") no-repeat center;
    grid-area: visual;
}

#body {
    border-top: 5px solid #8CBA34;
    margin-top: 1px;
    grid-area: body;

    display: grid;
    grid-template-columns: 1fr 205px 755px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    ". aside main .";
}

    #body>#aside {
        background-color: lightseagreen;
        grid-area: aside;
    }

    #body>#main {
        background-color: lightskyblue;
        grid-area: main;
    }

#footer {
    background-color: #313131;
    grid-area: footer;
}

@media screen and (max-width: 960px) {
    .float-content {
        width: 100%;
    }
    #root {
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "visual"
        "body"
        "footer";
    }
    #body {
        grid-template-columns: 1fr;
        grid-template-areas: "main";
    }
}

/*---------------------------------------------*/

.main-menu {
    font-family: "맑은 고딕", "고딕", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: 15px;
}

.main-menu>ul {
    display: flex;
}
.main-menu>ul li {
    border: 1px solid #;
}