body>div{
    height: 50px;
}

body> div:nth-child(1){
    background-color: red;
}

body> div:nth-child(2){
    background-color: green;

    position: absolute;
    left: 100px;
    top: 100px;
    width: 100%;
}

body> div:nth-child(3){
    background-color: blue;
}

body> div:nth-child(4){
    background-color: cyan;
}

body> div:nth-child(5){
    background-color: darkmagenta;
}
