html{
    
}
body{
    margin : 0px;

}


/*------------------------------------------------*/
.float-content{
    background-color: blueviolet;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height: inherit;
    opacity: 0.7;
}

#header{
    background-color : yellow;
    height: 70px;

}

#visual{
    background-color: red;
    height: 171px ;
}


#body{
    background-color: green;
    min-height: 300px ;
}
    #body>.float-content{
        display: flex;
    }

    #aside{
        width: 205px;
        min-height: inherit;
        background-color: yellow;
    }

    main{
        width: 755px;
        min-height: inherit;
        background-color: red;
    } 

#footer{
    background-color : blue ;
    height: 100px;
}

