html,body{
    height: 100%;
    margin: 0;
}


#root{
    height: 100%;

}

#root>div.box1{
    background-color:#f48fb1;
    height: 70px;
}
.box2{
    background-color:#ce93d8;
}
.box3{
    background-color:#bbdefb;
}
.box4{
    background-color:#aed581;
 }
.box5{
    background-color:#fff59d;
}
.box6{
    background-color:#ffab91;
}
@media screen and (min-width: 500px) {

    #root{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 250px 1fr;
        grid-template-rows: repeat(4,auto);
        grid-template-areas: 
        "header header"
        "aside aside"
        "sidebar main"
        "advertising footer";
    }
    #root>div.box1{
        grid-area: header;
        height: 100%;;
        
    }
    .box2{
        grid-area: aside;
    }
    .box3{
        grid-area: main;
    }
    .box4{
        grid-area: sidebar;
    }
    .box5{
        grid-area: advertising;
    }
    .box6{
        grid-area: footer;
    }

  }
  @media screen and (min-width: 1000px) {

    #root{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 250px 1fr 250px;
        grid-template-areas: 
        "header header header"
        "aside main aside"
        "aside main advertising"
        "footer footer footer";
    }
    #root>div.box1{
        grid-area: header;
        height: 100%;;
        
    }
    .box2{
        grid-area: aside;
    }
    .box3{
        grid-area: main;
    }
    .box4{
        grid-area: sidebar;
    }
    .box5{
        grid-area: advertising;
    }
    .box6{
        grid-area: footer;
    }

  }