#container{
    background-color: gray;
    /* width: 500px; */
    height: 100px;

    display: flex;
}
#container>div{
    /* flex-grow: 1; */
}

#container>div.box1{
    background-color: rgb(204, 151, 206);
    width: 300px;
    flex-shrink:0 ;
 }

#container>div.box2{
    background-color:rgb(230, 212, 113) ;
    flex-basis : 100px
}

#container>div.box3{
    background-color:rgb(192, 123, 91) ;
   
}

#container>div.box4{
    background-color: rgb(136, 147, 240);
}

#container>div.box5{
    background-color: rgb(121, 121, 190);
}