html,body{
    height: 100%;
    margin: 0;
}
#root{
    height: 100%;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 100px 1fr 1fr 100px ;
    grid-template-areas: 
    "header header header"
    "visual aside aside"
    "visual aside1 bl"
    "footer footer footer";
}

#root>div.box1{
    background-color:#d1281c;
    grid-area: header;
  
}
.box2{
    background-color:#2619cf;
    grid-area: visual;

}
.box3{
    background-color:#0f0f0f;
    grid-area: aside ;
    grid-area: bl ;
    
    
}
.box4{
    background-color:#dada06;
    grid-area: footer;
    
}


@media screen and (min-width: 800px) {

    #root{
        display: grid;
        grid-template-columns: 100px 1fr 100px;
        grid-template-rows: 100px 1fr 100px;
        grid-template-areas: 
        "header . ."
        "visual visual visual"
        "advertising footer .";
    }
    #root>div.box1{
        background-color: red;
        grid-area: header;
    }
    .box2{
        grid-area: visual;
        background-color: orange;
    }
    .box3{
        grid-area: advertising;
        background-color: green;
    }
    .box4{
        grid-area: footer;
        background-color: blue;
    }

 
  }
