body{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100vh; 
    /* 1vhëŠ” 10px */

    display: grid;
    grid-template-columns: repeat(auto-fill, 100px); 
    grid-template-rows: repeat(auto-fill,100px);

}

li{
    /* width: 100px;
    height: 100px; */
}



img{
    width: 100%;
    height: 100%;
    border-radius : 50%;
}